.twSearchIsHidden {
    position: absolute;
    top: -999999em;
    left: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}
.twSearchPopup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.twSearchBg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.twSearchBg-dark {
    background-color: rgba(0, 0, 0, .8);
}

.twSearchBg-light {
    background-color: rgba(255, 255, 255, .8);
}


.twSearchBg-dark label {
    color: #ffffff;
}

.twSearchBg-light label {
    color: #333333;
}

.twSearchFormWrapper {
    display: block;
    margin: 7em 4em;
    position: relative;
    right: -100%;
}

.twSearchForm {
    position: relative;
}

.twSearchForm .twSearchBox {
    outline: none;
    border-color: #dad6d5;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 5px 20px;
    color: #333333;
    font-size: 30px;
    line-height: 1.6;
    height: auto;
}

.twSearchForm .twSearchBox:focus::-webkit-input-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:focus::-moz-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:-ms-input-placeholder {
    opacity: 0;
}

.twSearchForm .twSearchBox:focus:-moz-placeholder {
    opacity: 0;
}

.twSearchForm label {
    position: absolute;
    left: -9999px;
}

.twSearchForm input[type=submit],
.twSearchForm input[type=submit]:focus,
.twSearchForm input[type=submit]:active {
    font-size: 30px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    line-height: 1.2;
    top: auto;

}

.twSearchBoxDesc {
    padding: 10px;
}

.twSearchBg-dark .twSearchBoxDesc {
    color: #ffffff;
}

.twSearchBg-light .twSearchBoxDesc {
    color: #333333;
}

@media screen and (max-width: 600px) {
    .twSearchForm input[type=submit],
    .twSearchForm input[type=submit]:focus,
    .twSearchForm input[type=submit]:active {
        font-size: 20px;
    }

    .twSearchBoxDesc {
        display: none;
    }
}

.twSearchIcon,
.twSearchIcon:hover,
.twSearchIcon:active,
.twSearchIcon:visited {
    background: transparent;
    border: none;
}